.top-container{
  margin-top: 75px;
}

.custom-background {
  background-color: #F4F5F6;
}

.custom-border {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.custom-border-fancy {
  border: 1px solid #dee2e6;
  border-radius: 30% 10%;
}

.title {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

.title-color {
  color: #1A73EA;
}

.subtitle {
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.static-image {
  height: 375px;
}

.custom-padding-left {
  padding: 0px 0.5rem 0px 1rem!important;
}

.custom-padding-right {
  padding: 0px 1rem 0px 0.5rem!important;
}

/* MEDIA QUERY */
@media only screen and (max-width: 767px) {
  .custom-padding-left {
    padding: 0px 1rem 0px 1rem!important;
  }
  
  .custom-padding-right {
    padding: 0px 1rem 0px 1rem!important;
  }
}
